svg{
    color: var(--color-heading);
    height: 20px;
    width: 20px;
}

.flex{
    display: flex;
}

h2:first-of-type{
    color: var(--color-accent) !important;
}

.description, .typing{
    color: var(--color-primary) !important;
}

.intro{
    color: var(--color-heading);
    margin: 1.5rem auto;
}

.name{
    color: var(--color-primary);
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0px;
}

.description{
    padding-right: 2rem;
    font-weight: inherit;
}

.typing::after{
    animation: blink 0.8s steps(2, start) infinite;     
    content: "|";
}



@media(max-width: 740px){
    .name{
        font-size: 2rem;
        font-weight: 200;
    }
}