:root{
    --stickyCard1: 1;
    --stickyCard2: 2;
    --stickyCard3: 3;
    --stickyCard4: 4;
}

.work-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
}

.work{
    background-color: var(--color-heading);
    border-radius: 5px;
    color: var(--color-secondary);
    cursor: pointer;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 1rem;
    width: 80%;
    border: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to right, var(--color-accent), var(--color-heading));
    position: sticky;
    z-index: 10;
}

.work a{
    text-decoration: none;
}

.work:first-of-type{
    top: calc(var(--stickyCard1) * 3rem);
    z-index: 20;
}

.work:nth-child(2){
    top: calc(var(--stickyCard2) * 3rem);
    z-index: 30;
}
.work:nth-child(3){
    top: calc(var(--stickyCard3) * 3rem);
    z-index: 40;
}
.work:nth-child(4){
    top: calc(var(--stickyCard4) * 3rem)
}

.work img{
    display: none;
    width: 65%
}

.work-header{
    background-color: var(--color-heading);
    border-bottom: 1px solid var(--color-secondary);
    color: var(--color-accent);
    display: flex;
    margin: 0px;
    padding: 0.5rem 0px;
    font-size: 0.6rem;
    justify-content: center; 
}

.work-header > div{
    display: flex;
    align-items: center;

    left: 1rem;
    position: absolute;
}

.work-header div span{
    border-radius: 50%;
    height: 10px;
    margin-right: 0.5rem;
    width: 10px;
}

.work-header div span:first-of-type{
    background-color: var(--color-accent);
}

.work-header div span:nth-child(2){
    background-color: var(--color-primary);
}

.work-header div span:nth-child(3){
    background-color: var(--color-secondary);
}

.work h4{
    text-align: center;
    margin: 0px auto;
}

code p{
    color: var(--color-secondary);
    padding: 0px 1rem;
}

@media (max-width: 600px) {
    .work:first-of-type {
      top: 4rem;
    }
    .work:nth-child(2) {
      top: 8rem;
    }
    .work:nth-child(3) {
      top: 12rem;
    }
    .work:nth-child(4) {
      top: 16rem;
    }
  }

  .work:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
  }