body{
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

*{
    box-sizing: border-box;
}

.hero{
    background-image: url('./assets/hero2.png');
    background-size: cover;
    height: 100vh;
}
